<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a
    class="brand"
    [routerLink]="['/home']"
    routerLinkActive="router-link-active"
  >
    Movie Checklist</a
  >
  <div class="buttons">
    <a
      mat-stroked-button
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
      >Login</a
    >
    <a
      mat-stroked-button
      [routerLink]="['/register']"
      routerLinkActive="router-link-active"
      >Register</a
    >
    <button mat-stroked-button (click)="logout()">Logout</button>
  </div>
</mat-toolbar>
