mat-toolbar {
  width: auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2021;
  height: 4rem;
  transition: 400ms left cubic-bezier(0.25, 0.8, 0.25, 1);
}

.brand {
  margin-left: 0.5rem;
  text-decoration: none;
  color: currentColor;
}
.buttons {
  margin-left: auto;
  a,
  button {
    text-transform: uppercase;
  }
  a:not(:last-child),
  button:not(:last-child) {
    margin-right: 1rem;
  }
}
