<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    [style.width]="sidenavWidth + 'px'"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
      >
        Home
      </a>
      <a
        mat-list-item
        [routerLink]="['/home']"
        routerLinkActive="router-link-active"
        >Lists</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header
      [sidenavToggled]="drawer.opened"
      [sidenavWidth]="sidenavWidth"
      (toggleAction)="drawer.toggle()"
    ></app-header>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
