<div class="container">
  <div class="tmdb-credit">
    <img
      src="../../assets/images/blue_long_2-9665a76b1ae401a510ec1e0ca40ddcb3b0cfe45f1d51b77a308fea0845885648.svg"
      alt="TMDb logo"
      class="logo"
    />
    <span
      >All movie informations (including pictures) comes from
      <a href="https://www.themoviedb.org/" target="_blank">TMDb</a> API.</span
    >
  </div>
  <div class="search">
    <mat-form-field appearance="outline">
      <mat-label>Search</mat-label>
      <input
        matInput
        [formControl]="searchControl"
        type="text"
        placeholder="Search"
      />
    </mat-form-field>
  </div>
  <mat-spinner
    *ngIf="loadingUserData || firstLoadingMovies || refreshingMovieList"
    [color]="'accent'"
  ></mat-spinner>
  <mat-grid-list
    *ngIf="!loadingUserData && !firstLoadingMovies && !refreshingMovieList"
    [cols]="colNumber"
    rowHeight="500px"
    gutterSize="50"
  >
    <mat-grid-tile
      *ngFor="let movie of filteredMovies"
      [style.background-image]="'url(' + movie.poster_path + ')'"
      [class.watched]="userMovies.includes(movie.id)"
      (click)="toggle(movie.id)"
    >
      <div class="content">
        <div class="title">{{ movie.title }}</div>
      </div>
      <div class="overlay">
        <mat-icon class="watch">visibility</mat-icon>
        <mat-icon class="unwatch">visibility_off</mat-icon>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
